<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>File Sharing</title>

  <link rel="stylesheet" href="style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="query.js"></script>
  <script type="text/javascript" src="script.js"></script>
</head>

<body>
  <form method="post" enctype="multipart/form-data" action="/upload">
    <h1>File Sharing Platform (Beta)</h1>
    <h6><%= _result %></h6>
    <input type="file" name="fileUploader" multiple />
    <input type="submit" value="Submit">
  </form>

  <h3>Shared Files</h3>
  <input type="text" id="myInput" onkeyup="searchAndFilter()" placeholder="Search for Files..">
  <br><br>
  <div class="listFiles" id="listOfFiles"></div>

  <textarea class="open-chatname" placeholder="Name Plz." name="chatname" id="chatname" required></textarea>
  <button class="open-button" onclick="openForm()">Chat</button>

  <!-- Chat-Box -->
  <div class="chat-popup" id="myForm">
    <div class="form-container">
      <h3><label for="msg">
          <div id="lblchatname"></div>
        </label></h3>
      <div class="ex1" id="listOfMsgs">
      </div>

      <textarea placeholder="Type message.." name="msg" id="msg" required></textarea>

      <button class="btn" id="chatsumbit">Send</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </div>
  </div>
</body>

</html>